# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
.vs/

# Node / Next.js
node_modules/
.next/
out/

# Environment
.env
.env.*
!.env.example

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Docker volumes
pgdata/

src/policy-engine-web/pnpm-lock.yaml

src/policy-engine-web/pnpm-workspace.yaml
